* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}


html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
@media all and (-ms-high-contrast: none)  {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

.ft-firstView {
  &__area {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    width: 160px;
    position: absolute;
    top: 20px;
    right: 20px;
    a {
      background-color: #fff;
      border: 1px solid #5BC3C9;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 77px;
      font-size: 12px;
      text-decoration: none;
      color: #5BC3C9;
      &:first-child {
        background-color: #5BC3C9;
        color: #fff;
      }
    }
  }
  &__message {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    &Title {
      color: #EBB100;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 25px;
    }
    ol {
      list-style-type: none;
      padding-left: 12%;
    }
    li {
      position: relative;
      margin-bottom: 12px;
      &::before {
        display: block;
        content: "";
        width: 26px;
        height: 32px;
        background-image: url(/images/number.png);
        background-size: 200px;
        position: absolute;
        top: -8px;
        left: 0;
      }
      span {
        display: inline-block;
        padding-left: 30px;
        background-image: linear-gradient(#fff 55%, #ffefba 55%, #ffefba);
      }
    }
  }
  &__BottomArea {
    position: absolute;
    bottom: 11%;
    left: 0;
    color: #5BC3C9;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }
}



.ft-discription {
  background-color: #5BC3C9;
  padding: 0 12px;
  &__section {
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 32px;
    margin-bottom: 12px;
  }
  &__title {
    border-bottom: 2px solid #5bc3c9;
    text-align: center;
    color: #525252;
    font-weight: 700;
    padding: 40px 0 9px;
    margin: 0 auto 24px;
    position: relative;
    &::before {
      display: block;
      content: "";
      width: 26px;
      height: 32px;
      background-image: url(/images/number.png);
      background-size: 200px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  &__message {
    background-image: url('https://placehold.jp/100x100.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    color: #525252;
    padding-left: 66px;
    width: 100%;
    font-size: 20px;
    margin: 0px auto 12px;
    line-height: 25px;
    font-weight: 700;
  }
  &__image {
    margin: 0 auto 24px;
  }
  &__subMessage {
    color: #4F4D4D;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    font-size: 18px;
  }
  &__commonMessage {
    border-top: 2px dotted #808080;
    padding-top: 24px;
    > div:nth-of-type(1) {
      margin-bottom: 24px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #808080;
    }
    > div:nth-of-type(2) {
      width: 162px;
      margin: 0 auto 24px;
    }
    > ul:nth-of-type(1) {
      padding-left: 24px;
      list-style-type: none;
      li {
        font-size: 16px;
        position: relative;
        color: #808080;
        &::before {
          content: "ãƒ»";
          display: block;
          position: absolute;
          left: -16px;
        }
      }
    }
  }
}




